{% extends "blogapp/layout.html" %}


{% block content %}

    <h5>
        {% if form.instance.pk %}
        Edit 
        {% else %}
            Create new blog
        {% endif %}

        <form method="POST" enctype="multipart/form-data" type="form">
            {% csrf_token %}
            {{form.as_p}}
        
            <button class="btn btn-warning" type="submit"> Submit</button>

        </form>

        <a href="{% url 'blog_list' %}" class="btn btn-secondary mt-1"> Back </a>
    </h5>

{% endblock %}