{% extends "blogapp/layout.html" %}

{% block content %}

<a href="{% url 'create' %}" class="btn btn-outline-primary shadow-sm px-4 py-2 rounded-pill fw-semibold mt-3 mb-2">
    ✍️ Create a new blog
</a>

<div class="blog-list">
    {% for blog in blogs %}
        <div class="blog-card">
            {% if blog.image %}
                <a href="{% url 'details' blog.id %}"> <img src="{{blog.image.url}}" alt="" class="img"> </a> 
            {% endif %}
            <h6>Author: {{blog.author}} | {{blog.created_at}}</h6>
            <h4>Title: {{blog.title}} </h4>
            <p>
                {{ blog.content|truncatechars:100 }}
                
                {% if blog.content|length > 100 %}
                    <a href="{% url 'details' blog.id %}" class="temp"> &nbsp;  read more</a>
                {% endif %}
            </p>
            


            {% if blog.author == user %}
                <a href="{% url 'edit' blog.id %}" class="btn btn-outline-primary shadow-sm px-3 py-2 fw-semibold m-2">
                    ✏️ Edit
                </a>

                <a href="{% url 'delete' blog.id %}" class="btn btn-outline-danger shadow-sm px-3 py-2 fw-semibold m-2">
                    🗑️ Delete
                </a>


            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
