{% extends "blogapp/layout.html" %}

{% block content %}



<a href="{% url 'create' %}" class="btn btn-outline-primary shadow-sm px-4 py-2.5 rounded-pill fw-semibold m-4">
    ✍️ Create a new blog
</a>



<div class="container row gap-4"> 
    {% for blog in blogs %}
        <div class="card" style="width: 18rem;">

            {% if blog.image %}
                <img src="{{ blog.image.url }}" class="card-img-top" alt="...">
            {% endif %}

            <div class="card-header text-body-secondary" style="font-family: cursive;">
                <i class="bi bi-person-circle"></i> Author: {{ blog.author }}
            </div>
            <div class="card-body">
                <!---<h5 class="card-subtitle mb-2">z</h5>--->
                <h5> <div class="card-header text-left">Title: {{blog.title}} </div> </h5>
                <p class="card-text">{{blog.content}}</p>


                {% if blog.author == user %}
                    <a href="{% url 'edit' blog.id %}" class="btn btn-primary"> Edit </a>
                    <a href="{% url 'delete' blog.id %}" class="btn btn-danger"> Delete </a>
                {% endif %}

            </div>

        </div>

    {% endfor %}

</div> 



{% endblock %}