<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container-fluid">
        <div class="logo text-white me-4 fw-bold">Blogbar</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li>
                    <a class="nav-link active" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'blog_list' %}">Explore</a>
                </li> 
            </ul> 

```
        {% comment %} <a href="{% url 'home' %}" class="btn btn-outline-light px-4 py-2 rounded-pill shadow-lg">Home</a> {% endcomment %}

        {% if user.is_authenticated %}
            <form method="post" action="{%url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger mx-4 px-4 py-2 rounded-pill shadow fw-semibold" type='submit'>Logout</button>
            </form>
        {% else %}

        <a href="{% url 'register' %}" class="btn btn-outline-success shadow mx-2 px-4 py-2 rounded-pill fw-semibold">
            Register
        </a>

        <a href="{% url 'login' %}" class="btn btn-outline-primary shadow px-4 py-2 rounded-pill fw-semibold">
            Login
        </a>
        {% endif %}
        </div>
    </div>

</nav>
