* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(to bottom right, #ffffff, #d7afff);
      background: linear-gradient(to bottom left, #eee3ff, #e2dafc);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
}


.logo {
  font-size: 1.7rem;
  font-weight: 600;
}


.nav-link:hover {
  color: #66bac0 !important;
}

.nav-link.temp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}


.anime {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
  animation: fadeIn 3.5s ease;
}

.anime h2 {
  font-size: 3.5rem;
  margin: 2%;
  margin-top: 5.2%;
}

.anime p {
  color: #617087;
  margin-bottom: 3rem;
}
    
.anime hr {
  width: 80%;
  margin: 1.5rem auto;
  border: none;
  border-top: 1px solid #5d4f00;
}


/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
    
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */






